
body {
      background-color: #99CCFF;
      text-align: left;
  }

input {
    background-color: white;
    border: 0px solid;
    height: 20px;    
    margin-top: 1px;
    color: black;
}

h1{ 
    position: fixed;
    font-color: blue;
    font-family: verdana;
    font-size: 12;
    text-align: center;
    vertical-align: center; 
    margin-left: 30%;
    margin-top: 10%;
      }

form1{
    margin-left: 35%;
    margin-top: 10%;
}
koka{
    text-align: center;
    font-size: 20;
    font-family: Times New Roman;
    color: black;
}

.p{
    font-size: 9;
    font-weight: lighter;
    color: red;
}

.trupi{
    text-indent: 10%;
    position: relative;
    vertical-align: center;
    text-align: left;
    font-family: verdana;
    margin-left: 30%;
    font-color: blue;
    font-size: 20;
}

table{
        width: 100%;
        margin-left: 30%;
}
#thinrect{
    position: relative;
    width: 80%;
    height: 0.5%;
    background: blue;
    margin-left: 10%;

}

#rectangle2{
    position: fixed;
    vertical-align: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 1%;
    width:90%;
    height:90%;
    background:#A8EAA6;
    border-radius: 30px;
}

#rectangle{
    position: fixed;
    vertical-align: center;
    margin-left: 27%;
    margin-top: 7%;
    width:600px;
    height:480px;
    background:#8585FF;
    border-radius: 30px;
}
#tab{
   
    width: 60%;
    height: 100%;
    background-color: white;
    margin-left: 19%;
}
#tab2{

    width: 20%;
    height: 80%;
    background-color: red;
}